@import "tailwindcss";

@theme {
  --color-leminski-peach: #F4C3A3;
  --color-leminski-pink: #E99D8F;
  --color-leminski-red: #DF5D36;
  --color-leminski-blue: #192B4D;
  --color-leminski-light: #FDFBF7;
}

@layer base {
  body {
    font-family: 'Outfit', sans-serif !important;
    background-color: #DF5D36;
    color: #FDFBF7;
    overscroll-behavior-y: none;
    user-select: none;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .glass-panel {
    background: #FDFBF7;
    border: 3px solid #192B4D;
    border-radius: 1.5rem;
    box-shadow: 6px 6px 0px #192B4D;
    color: #192B4D;
    transition: all 0.2s ease;
  }
  
  .glass-button {
    background: #DF5D36;
    border: 3px solid #192B4D;
    box-shadow: 4px 4px 0px #192B4D;
    color: #FDFBF7;
    transition: all 0.1s ease;
  }
  .glass-button:active {
    transform: translate(4px, 4px);
    box-shadow: 0px 0px 0px #192B4D;
  }
}
